html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.signInContainer{
    background-color: #efefef;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.column{
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    padding: 20px 35px;
}

.column form{
    display: flex;
    flex-direction: column;
}

.column form input[type="text"], .column form input[type="email"], .column form input[type="password"]
{
    font-style: 14px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid #dedede;
}

.column form input[type="submit"]{
    background-color: #4285f4;
    color: #fff;
    height: 36px;
    width: 170px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    margin: 10px auto;
}

.column .header{
    padding: 20px 0;
}

.column h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    padding-top: 15px;
    color: #000;
}

.column img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column .header span{
    font-size: 14px;
}

.signIn{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.errorMessage{
    color: red;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.previewImage,
.previewVideo{
    width: 100%;
}

.previewContainer{
    position: relative;
    display: flex;
}

.previewContainer.small{
    width: 300px;
    height: 170px;
    margin-right: 5px;
    display: inline-flex;
}

.previewContainer.small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.previewOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);   
    position: absolute;
}

.previewOverlay .mainDetails h2{
    color: #fff;
    font-size: 40px;
    margin: 15px 0;
}

.previewOverlay .mainDetails h3{
    color: #fff;
    margin: 15px 0;
}

.previewOverlay .mainDetails{
    position: relative;
    display: flex;
    flex-direction:  column;
    top: 30%;
    margin-left: 50px;
}

.mainDetails button{
     background-color: rgba(51, 51, 51, 0.4);
     color: #fff;
     border: none;
     max-width: 180px;
     padding: 0 40px;
     height: 50px;
     font-size: 21px;
     max-height: 50px;
     margin-bottom: 15px;
     margin-right: 5px;
     border-radius: 2px;
     cursor: pointer;
}

button i{
    color: inherit;
}

.mainDetails button:hover{
    background-color: #e6e6e6;
    color: #000;
}



.wrapper{
    background-color: #000;
    min-width: 1050px;
    min-height: 100%;
}

.category{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.entities{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.videos{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
}

h3{
    color: #e5e5e5;
}

a h3:hover{
    color: #fff;
}

a {
    text-decoration: none;
    color: #558DFE;
}

.previewCategories{
    padding: 0 50px;
}

.previewCategories h1{
    color: #fff;
}

.errorBanner{
    color:#fff;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.season{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer{
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img{
    width: 230px;
    height: 130px;
    object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span{
    color: #fff;
    width: 100%;
    white-space: normal;
}

.watchContainer video{
    width: 100%;
}

.videoControls{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.back{
    z-index: 2;
}

.videoControls h1{
    color: #fff;
}

.videoControls button{
    font-size: 48px;
    padding: 50px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.upNext{
    justify-content: center;
    height: 100%;
}

.upNextContainer h2{
    color:#fff;
}

.upNextContainer button{
    padding: 0;
}

.viewed{
    color: #2ecc71;
    position: absolute;
    font-size: 25px;
}

.topBar {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 70px;
    box-sizing: border-box;
    min-width: 1050px;
    transition: background-color 200ms linear;
    }

.scrolled{
    background-color: #141414;
    transition: background-color 200ms linear;
}
    
.logoContainer {
    height: 70px;
}
    
.logoContainer img {
    height: 100%;
}
    
.navLinks {
     display: flex;
    list-style: none;
}
    
.navLinks a {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
}
    
.rightItems {
    text-align: right;
    flex: 1;
}
    
.rightItems i {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.textboxContainer{
    padding: 100px 50px;
}

.searchInput{
    height: 50px;
    width: 600px;
    background-color: transparent;
    border: 1px solid #dedede;
    font-size: 20px;
    padding: 5px 10px;
}

.settingsContainer {
    padding-top: 60px;
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    
.settingsContainer h2 {
    color: #fff;
    margin-top: 0;
 }
    
.settingsContainer .formSection {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}
    
.settingsContainer form input[type="text"],
.settingsContainer form input[type="email"],
.settingsContainer form input[type="password"] {
    height: 40px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    padding: 0 5px;
}
    
.settingsContainer form input[type="submit"] {
    background-color: #dc1928;
    width: 100px;
    height: 40px;
}

.alertSuccess,
.alertError{
    margin: 10px 0;
}

.alertSuccess{
    color: #2ecc71;
}

.alertError{
    color: #dc1928;
}

.formSection h3{
    padding:  0;
    color: #fff;
    font-size: 20px;
}
